.embla_hero {
  max-width: 100vw;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100vw;
}
.embla_hero__viewport {
  overflow: hidden;
}
.embla_hero__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla_hero__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla_hero__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
}
.embla_hero__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla_hero__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla_hero__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla_hero__button:disabled {
  color: black;
}
.embla_hero__button__svg {
  width: 35%;
  height: 35%;
}
.embla_hero__selected-snap-display {
  justify-self: flex-end;
  align-self: center;
  color: var(--text-low-contrast);
  font-weight: 600;
}
.embla_hero-infinite-scroll {
  position: relative;
  flex: 0 0 15rem;
  min-width: 0;
  height: var(--slide-height);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla_hero-infinite-scroll__spinner {
  display: none;
  border: 0.4rem solid rgba(var(--text-high-contrast-rgb-value), 0.2);
  border-left: 0.4rem solid var(--text-high-contrast);
  font-size: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  text-indent: -9999em;
  animation: loading 1.1s infinite linear;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}
.embla_hero-infinite-scroll__spinner:after {
  border-radius: inherit;
  width: 5rem;
  height: 5rem;
}
.embla_hero-infinite-scroll--loading-more
  > .embla_hero-infinite-scroll__spinner {
  display: inline-flex;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
